NET "alarm"						LOC="U18"  | IOSTANDARD=LVTTL;
NET "minMSB<0>"				LOC="M14"  | IOSTANDARD=LVTTL;
NET "minMSB<1>"				LOC="N14"  | IOSTANDARD=LVTTL;
NET "minMSB<2>"				LOC="L14"  | IOSTANDARD=LVTTL;
NET "hours4bits<0>"			LOC="M13"  | IOSTANDARD=LVTTL;
NET "hours4bits<1>"			LOC="D4"  | IOSTANDARD=LVTTL;
NET "hours4bits<2>"			LOC="P16"  | IOSTANDARD=LVTTL;
NET "hours4bits<3>"			LOC="N12"  | IOSTANDARD=LVTTL;


NET "reset"				LOC="A10"  | IOSTANDARD=LVTTL;   # SW0
NET "alarmMin<0>"				LOC="D14"  | IOSTANDARD=LVTTL;
NET "alarmMin<1>"				LOC="C14"  | IOSTANDARD=LVTTL;
NET "alarmMin<2>"				LOC="P15"  | IOSTANDARD=LVTTL;
#
NET "alarmHr<0>"				LOC="P12"  | IOSTANDARD=LVTTL;  
NET "alarmHr<1>"				LOC="R5"  | IOSTANDARD=LVTTL;
NET "alarmHr<2>"				LOC="T5"  | IOSTANDARD=LVTTL;
NET "alarmHr<3>"				LOC="E4"  | IOSTANDARD=LVTTL;

NET "clk"				LOC="L15"  | IOSTANDARD=LVTTL;   # IFCLK	
//NET "clk"   LOC = "L15"| IOSTANDARD=LVTTL; # Bank = 1, Pin name = IO_L42P_GCLK7_M1UDM, Type = GCLK, Sch name = GCLK	